html{
	background: #000;
	color: #0f0;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: DOS, 'Ubuntu', sans-serif;
}

:focus {
	outline: none;
}

@font-face {
    font-family: DOS;
    src: url(/_asserts/Fixedsys500c.woff);
  }

h1 {
	font-family: 'Mansalva', cursive;
	font-size: 100px;
	font-weight: bolder;
	margin-top: 1em;
	letter-spacing: 20px;
	text-transform: uppercase;
	color: #0f0;
}

a {
	text-decoration: none;  
}

i {
	text-align: center;
	color: #0f0;
}

header {
	padding-top: 1em;
	text-align: center;
	margin: 0 auto -3em;
}

/* Table */
table {
	border: 1px solid #fff;
	padding: 0;
	margin-top: 0;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
	border-spacing: 0;
}

td, th {
	line-height: 30px;
}

td {
	border-top: 1px solid #fff;
}

tr {
	opacity: 0;
}

tr:last-child {
	border: 0;
}

tr:hover {
	background: rgba(32,32,32,.5);
}

thead tr:hover {
    background: 0;
}

tr a {
	color: #0f0;
}

tr a:hover {
	text-decoration: underline;
}

/* Input */
form {
	position: relative;
}

input {
	margin: .5em auto;
	padding: 14px 10px;
	width: 240px;
	color: #fff;
	background: #222;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	text-align: center;
    transition: .6s;
    font-family: DOS, 'Ubuntu', sans-serif;
        
}

input:focus {
	border-color:#0f0;
	width: 300px;
}

input::placeholder {
	color: rgba(189,189,189,.7);
}

input[required]:invalid {
	background: rgba(255,0,0,.3);
}

input[type=submit]{
	width: 160px;
	font-weight: 900;
	border: 2px solid #0f0;
    color: #9E9E9E;
    background: none;
}

input[type=submit]:hover,
input[type=submit]:focus  {
	width: 160px;
	color: #fff;
    background: rgba(0, 255, 0, .5);
    border-color: rgba(0, 255, 0, .5);
}

.login-block .account-box input:-internal-autofill-selected {
    background-color: none !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

label {
    background: #9E9E9E;
    display: inline-block;
    color: #EDE7F6;
    font-size: 16px;
	border-radius: 5px;
	width: 25%;
    padding: 9px 7px;
	box-sizing: border-box;
	margin-top: -37px;
	float: right;
    margin-right: 1em;
}

label:hover {
	box-shadow: 1px 1px 4px 1px rgba(117, 117, 117,.5) inset;
}


/* Button */
button {
	margin-left: 16px;
	margin-top: 8px;
	border: 0;
	border-radius: 5px;
	height: 36px;
	color: #263238;
	font-size: 16px;
	font-weight: 900;
	font-family: DOS, 'Ubuntu', sans-serif;
}

footer {
	color: #9E9E9E;
	text-align: center;
	padding-bottom: 1em;
    bottom: 0;
    left: 0;
    right: 0;
}

footer i {
	color: inherit;
}